.about { 
    padding-bottom: 2rem; 
    outline: $out;

    &__bio-image {
        height: 50vh;
        width: 100%;
        background:     
        linear-gradient(
            to right, 
            rgba($primary-color, 0.9), 
            rgba($primary-color, 0.3)
        ),
        url('../img/model-1.jpg') center top;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        p {
            margin-bottom: 2rem;
        }

        >.about__bio {
            width: 80%;
            text-align: justify;
    
            >.text-secondary {
                padding-bottom: 1rem;
            }
        }
    } 


    >.jobs {
        width: 60vw; 
        margin: 2rem auto 0 auto;
        display: grid; 
        grid-template-columns: 1fr;
        grid-gap: 2rem;

        > .jobs__job {
           background: lighten($primary-color, 10%);
           border-radius: 10px;
           padding: .5rem .8rem;
           border-bottom: 5px solid $secondary-color;

           > h2, h3 {
            margin: .8rem 0;
           }
           > h4 {
            margin-top: .5rem;
            margin-bottom: 1rem;
           }
           > p {
            text-align: justify;
            margin-bottom: .4rem;
           }
        }
    }

    >.social-icons {
        display: flex; 
        flex-direction: column;
        margin-bottom: .5rem;

        > footer {
            outline: $out; 
            transform:
            rotate(90deg)
            translate(-3rem, -5rem);
        }
    }
} 