
.projects {
  padding-bottom: 2rem;

  & .projects__bio-image {
    min-height: 350px; 
    height: 30vh;
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(
        to right,
        rgba($primary-color, 0.9),
        rgba($primary-color, 0.3)
      ),
      url("../img/model-1.jpg") center top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-radius: 0 0 10px 10px;
    border-bottom: 2px solid $secondary-color;;

      & .text-secondary {
        padding-bottom: 1rem;
        font-size: 2rem;
        margin-bottom: 2rem;
        align-self: flex-start;
        margin-left: 1rem;
        letter-spacing: .1em;
        text-transform: lowercase;
      }
  } /*end of .projects__bio-image*/

  & .projects__items {
    width: 60vw;
    margin: 2rem auto 0 auto;
    display: grid;
    grid-template-columns: 2fr;
    grid-gap: 2rem;

    & .projects__item {
        position: relative;
        border-bottom: 5px solid $secondary-color;
        overflow: hidden;
        cursor: pointer;

        & img {
            width: 100%;
            border-radius: 10px;
        }

        &::after { /* .projects-item::after*/
            content: '';
            position: absolute;
            top: 50%; 
            left: 0; 
            height: 100%; 
            width: 100%;
            background-color: $secondary-color;
            opacity: 0;
            @include transition-ease; 
        }

        /* CSS properties for the ::after 
        element when the parent is hovered */
        &:hover {
            border-bottom: white 5px solid; 

            &::after {
                top: 0;
                opacity: 0.9;
            border-radius: 10px;
            }

            .projects__btn {
                opacity: 1;
            }
        }

    } /* end of project item*/
  } /*end of project items*/

&__btns {
    //outline: $out;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
}

&__btn {
    outline: $out;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0; 
    color: set-text-color($secondary-color);
    @include transition-ease; 

    &:hover {
        color: set-text-color(set-text-color($secondary-color));

    }
}

  & .social-icons {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;

    & footer {
      outline: $out;
      transform: rotate(90deg) translate(-3rem, -5rem);
    }
  }
} /*end of the projects
.projects > .projects__items > .projects__item > .projects__btns 
*/


